/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input.firstPlayer {
  margin-bottom: 1rem;
}

.input.secondPlayer {
  margin-bottom: 2rem;
}