/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* LAYOUT */

body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input.firstPlayer {
  margin-bottom: 2rem;
}

.input.secondPlayer {
  margin-bottom: 5rem;
}

#board-container {
  max-width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#turn-indicator {
  text-align: center;
  margin-bottom: 4rem;
}

.cell {
  width: 6rem;
  height: 6rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.win-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  margin-top: 2rem;
}

.endGame-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.draw-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  margin-top: 2rem;
}

.thanks-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Style */

body {
  background-image: url(img/background-tictactoe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  font-family: 'Cabin Sketch', sans-serif;
}

#startBtn {
  background: none;
  border: none;

  font-family: 'Cabin Sketch', sans-serif;
  color: rgba(245, 245, 245, 0.8);

  font-size: 4rem;
  cursor: pointer;
}

.label.input {
  color: rgba(245, 245, 245, 0.8);

  font-size: 3rem;
}

.name.input {
  background: none;
  border: none;
  border-bottom: dashed 3px rgba(245, 245, 245, 0.8);

  font-family: 'Cabin Sketch', sans-serif;
  color: rgba(245, 245, 245, 0.8);

  font-size: 3rem;
  cursor: pointer;
}

.name.input:focus {
  outline: none;
}

#continueBtn {
  background: none;
  border: none;

  font-family: 'Cabin Sketch', sans-serif;
  color: rgba(245, 245, 245, 0.8);

  font-size: 3rem;
  cursor: pointer;
}

#turn-indicator {
  color: rgba(245, 245, 245, 0.8);
  font-size: 3rem;
}

#board-container .cell {
  background: none;
  border: none;
}

#board-container .cell:first-child,
#board-container .cell:nth-child(2),
#board-container .cell:nth-child(4),
#board-container .cell:nth-child(5),
#board-container .cell:nth-child(7),
#board-container .cell:nth-child(8) {
  border-right: 4px solid rgba(245, 245, 245, 0.8);;
}

#board-container .cell:first-child,
#board-container .cell:nth-child(2),
#board-container .cell:nth-child(3),
#board-container .cell:nth-child(4),
#board-container .cell:nth-child(5),
#board-container .cell:nth-child(6) {
  border-bottom: 4px solid rgba(245, 245, 245, 0.8);;
}

.cell {
  font-size: 5rem;
  font-family: 'Cabin Sketch', sans-serif;
  color: rgba(245, 245, 245, 0.8);
  cursor: pointer;
}