/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* LAYOUT */

body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input.firstPlayer {
  margin-bottom: 1rem;
}

.input.secondPlayer {
  margin-bottom: 2rem;
}

#board-container {
  max-width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

#turn-indicator {
  text-align: center;
  margin-bottom: 2rem;
}

.cell {
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.win-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  margin-top: 2rem;
}

.endGame-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.draw-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  margin-top: 2rem;
}

.thanks-container {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Style */

body {
  background-image: url(img/background-tictactoe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  font-family: 'Cabin Sketch', sans-serif;
}

#startBtn {
  background: none;
  border: none;

  font-family: 'Cabin Sketch', sans-serif;
  color: rgba(245, 245, 245, 0.8);

  font-size: 4rem;
  cursor: pointer;
}